<div id="license" class="licenseContainer">
	
	<h2 class="first">Free for non-proprietary use.</h2>
	<div class="cc_license_info">
		<div class="description column">
			GoldenLayout is free for use under the terms of the Creative Commons Attribution-NonCommercial 4.0 International License or the GNU General Public License 3.0. <br />
			If you would like to use it in a proprietary project, please purchase one of the licenses below.
		</div>
		<div class="ccLicense column">
			<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="{{link 'asset' 'images/cc_license.png'}}" /></a>
			&nbsp;/&nbsp;
			<a rel="license" href="{{link 'asset' 'license/LICENSE-GPL-3.0.md'}}"><img alt="GPL 3.0 License" style="border-width:0" src="{{link 'asset' 'images/gpl-logo.png'}}" /></a>
			<br />
			<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">
			  GoldenLayout
			</span>
			by 
			<a xmlns:cc="http://creativecommons.org/ns#" href="http://golden-layout.com" property="cc:attributionName" rel="cc:attributionURL">
			  Wolfram Hempel
			</a>
			is dual-licensed under the terms of both the
			<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
			  Creative Commons Attribution-NonCommercial 4.0 International License
			</a> and the <a rel="license" href="{{link 'asset' 'license/LICENSE-GPL-3.0.md'}}">GNU GENERAL PUBLIC LICENSE 3.0</a>.
		</div>
	</div>

	<h2>Commercial Licenses</h2>
	<div class="purchase">
		<div class="licenseType column">
			<h3>Single Domain License <a class="readLicense" title="Single Domain License" data-licenseId="07f3459c-639d-41af-9a59-f05299b27180" href="{{link 'asset' 'license/SingleDomainLicense.txt'}}">read license</a></h3>
			<p>Use GoldenLayout on one Domain (on as many sub-pages of that Domain as you like, with as many developers as you like etc. There are no other restrictions)</p>
			<div class="price">99.00 <small>&pound;</small><b>*</b></div>
			<div class="vat">* Includes 20% UK VAT</div>
			<form id="singleDomainLicense">
				<div class="formInputs">
					<input type="hidden" name="time" value="" />
					<div class="inputGroup">
						<div class="error">Please specify a licensee</div>
						<label>Licensee (Person or Company)</label>
						<input type="text" name="company" value="" />
					</div>
					<div class="inputGroup">
						<div class="error">Please specify the domain you want to license</div>
						<label>Domain Name</label>
						<input type="text" name="websiteUrl" value="" />
					</div>
					<input type="hidden" name="redirectTo" value="http://localhost:3000/experiments/golden-layout-website/htdocs/pages/license/" />
				</div>
				<div class="buttonContainer">
					<input type="submit" value="buy" />
				</div>
			</form>
		</div>

		<div class="licenseType column">
			<h3>Multi Domain License <a class="readLicense" data-licenseId="f1b32607-7615-407a-b242-cc26216da54b" title="Multi Domain License" href="{{link 'asset' 'license/MultiDomainLicense.txt'}}">read license</a></h3>
			<p>Use GoldenLayout within your company for as many domains as you like. (On as many sub-pages as you like, with as many developers as you like etc. There are further other restrictions)</p>
			<div class="price">399.00 <small>&pound;</small><b>*</b></div>
			<div class="vat">* Includes 20% UK VAT</div>
			<form id="multiDomainLicense" action="#" >
				<div class="formInputs">
					<div class="inputGroup">
						<div class="error">Please specify a licensee</div>
						<label>Licensee (Person or Company)</label>
						<input type="text" name="company" value="" />
					</div>
				</div>
				<div class="buttonContainer">
					<input type="submit" value="buy" />
				</div>
			</form>
		</div>
	</div>
</div>
<div class="templateContainer">
	<div class="purchaseErrorCharged purchaseError">
		<p>
			Oh dear, we apologize. Your purchase was successful, yet there was an error while retrieving your license key. Please have a look into your email inbox, if it isn’t there either, please give us a shout at <a href="mailto:support@golden-layout.com">support@golden-layout.com</a> quoting <b class="stripeToken"></b> and we’ll look for it immediately.
		</p>
		<div class="errorMessage">error message here</div>
	</div>
	<div class="purchaseErrorNotCharged purchaseError">
		<p>
		Oh dear, we apologize. Your purchase was not successful. <b>Your credit card has not been charged</b>. Please give us a shout at <a href="mailto:support@golden-layout.com">support@golden-layout.com</a>, quoting purchase-id <b class="stripeToken"></b> and error message <b class="errorMessage"></b> and we’ll look into it immediately.
	</div>
	<div class="purchaseSuccess">
		<h3>Thank you for licensing your copy of GoldenLayout</h3>
		<div class="info">
			A confirmation receipt containing your license key was sent to <span class="email"></span>.
		</div>
		<ul>
			<li>
				<label>License Type:</label>
				<span class="licenseType"></span>
			</li>
			<li>
				<label>License Key:</label>
				<span class="licenseKey"></span>
			</li>
			<li>
				<label>Licensed Domain:</label>
				<span class="licenseUrl"></span>
			</li>
		</ul>
		<h3>License</h3>
		<div class="yourLicense"></div>
		<div class="footerLinks">
			<a href="#" class="closeModal">close</a>
			<a class="downloadLink" href="#" download>download license</a>
		</div>
	</div>
</div>
<img src="{{link 'asset' 'images/logo_128_128.png'}}" id="stripeImage" style="display:none" />
<script src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript" src="{{link 'asset' 'js/payment.js'}}"></script>