<h1>Tutorials</h1>

<ul id="categoryList">
	<li>
		<a href="getting-started.html">
			<img src="{{link 'asset' 'images/tutorial_getting_started.png' }}" width="162" height="100" />
			<div class="right">
				<h3>Getting started</h3>
				<p>Familiarise yourself with the basic concepts and building blocks of GoldenLayout.</p>
			</div>
		</a>
	</li>	
	<li>
		<a href="saving-state.html">
			<img src="{{link 'asset' 'images/tutorial_saving_state.png' }}" width="162" height="100" />
			<div class="right">
				<h3>Saving State</h3>
				<p>Learn how to persist and load Layout and Component state</p>
			</div>
		</a>
	</li>
	<li>
		<a href="dynamically-adding-components.html">
			<img src="{{link 'asset' 'images/tutorial_adding_items.png' }}" width="162" height="100" />
			<div class="right">
				<h3>Dynamically adding items to layouts</h3>
				<p>Learn about the various ways of adding new items to an existing layout at runtime.</p>
			</div>
		</a>
	</li>
	<li>
		<a href="adding-controls-to-header.html">
			<img src="{{link 'asset' 'images/tutorial_adding_header_control.png' }}" width="162" height="100" />
			<div class="right">
				<h3>Adding new controls to the header</h3>
				<p>Learn how to add a color selector to every component's header and persist its changes</p>
			</div>
		</a>
	</li>
	<li>
		<a href="working-with-popouts.html">
			<img src="{{link 'asset' 'images/tutorial_popouts.png' }}" width="162" height="100" />
			<div class="right">
				<h3>Working with popouts</h3>
				<p>Learn what to watch out for when using popouts</p>
			</div>
		</a>
	</li>
	<li>
		<a href="extending-tabs.html">
			<img src="{{link 'asset' 'images/tutorial_extending_tabs.png' }}" width="162" height="100" />
			<div class="right">
				<h3>Extending Tabs</h3>
				<p>Learn how to add custom functionality to tabs</p>
			</div>
		</a>
	</li>
	<li>
		<a href="requirejs.html">
			<img src="{{link 'asset' 'images/tutorial_requirejs.png' }}" width="162" height="100" />
			<div class="right">
				<h3>Using GoldenLayout with RequireJS</h3>
				<p>Learn how to use GoldenLayout with RequireJS and how to inject its dependency</p>
			</div>
		</a>
	</li>
	<li>
		<a href="angular-simple.html">
			<img src="{{link 'asset' 'images/tutorial_angular.png' }}" width="162" height="100" />
			<div class="right">
				<h3>Simple usage with Angular</h3>
				<p>Using GoldenLayout as a simple layout manager for your Angular app</p>
			</div>
		</a>
	</li>
	<li>
		<a href="angular-complex.html">
			<img src="{{link 'asset' 'images/tutorial_angular.png' }}" width="162" height="100" />
			<div class="right">
				<h3>Multi-Module Angular Apps in GoldenLayout</h3>
				<p>This tutorial addresses some common challenges when building complex Angular apps with GoldenLayout</p>
			</div>
		</a>
	</li>
	<li>
		<a href="highcharts.html">
			<img src="{{link 'asset' 'images/tutorial_highcharts.png' }}" width="162" height="100" />
			<div class="right">
				<h3>Using GoldenLayout with HighCharts and Yahoo Finance</h3>
				<p>Learn how to create a HighCharts chart showing historic stock prices from Yahoo Finance in GoldenLayout</p>
			</div>
		</a>
	</li>
	<li>
		<a href="slickgrid.html">
			<img src="{{link 'asset' 'images/tutorial_slickgrid.png' }}" width="162" height="100" />
			<div class="right">
				<h3>Using GoldenLayout with SlickGrid</h3>
				<p>Learn how to build a component that manages the interaction between SlickGrid and GoldenLayout</p>
			</div>
		</a>
	</li>
</ul>