<div id="docsIndex">
	<h3>Configuration</h3>
	<ul class="apiOverview">
		<li>
			<a href="{{link 'page' 'docs/Config.html'}}">
				<h5>Configuration</h5>
				<p>General configuration</p>
			</a>
		</li>
		<li>
			<a href="{{link 'page' 'docs/ItemConfig.html'}}">
				<h5>Item Configuration</h5>
				<p>Configuration for Components, Rows, Columns and Stacks</p>
			</a>
		</li>
	</ul>

	<h3>API Documentation</h3>
	<ul class="apiOverview">
		<li>
			<a href="{{link 'page' 'docs/GoldenLayout.html'}}">
				<h5>GoldenLayout</h5>
				<p>The main GoldenLayout instance</p>
			</a>
		</li>
		<li>
			<a href="{{link 'page' 'docs/Item.html'}}">
				<h5>Item</h5>
				<p>Components, Rows, Columns and Stacks</p>
			</a>
		</li>
		<li>
			<a href="{{link 'page' 'docs/Container.html'}}">
				<h5>Container</h5>
				<p>The Container that your components live in</p>
			</a>
		</li>
		<li>
			<a href="{{link 'page' 'docs/Header.html'}}">
				<h5>Header</h5>
				<p>The Header bar on top of every Stack</p>
			</a>
		</li>
		<li>
			<a href="{{link 'page' 'docs/Tab.html'}}">
				<h5>Tab</h5>
				<p>A Tab within a Header</p>
			</a>
		</li>
		<li>
			<a href="{{link 'page' 'docs/BrowserWindow.html'}}">
				<h5>BrowserWindow</h5>
				<p>A object representing a popup window</p>
			</a>
		</li>
		<li>
			<a href="{{link 'page' 'docs/EventEmitter.html'}}">
				<h5>EventEmitter</h5>
				<p>Every object within GoldenLayout can emit events. Here's the API</p>
			</a>
		</li>
	</ul>
</div>