<img id="startPageBackground" src="{{link 'asset' 'images/background-abstract.jpg'}}" />
<div class="startExample">
	<div id="exampleScreen">
		<div id="tryMeArrow"></div>
		<div id="exampleLayoutContainer"></div>
	</div>
</div>
<div id="startPageFeatures">
	<ul>
		<li>
			<div class="bg"></div>
			<img src="{{link 'asset' 'images/features_popouts.png'}}" width="140" height="87" />
			<small>native</small>
			<strong>popout windows</strong>
		</li>
		<li>
			<div class="bg"></div>
			<img src="{{link 'asset' 'images/features_themeable.png'}}" width="140" height="87" />
			<small>completely</small>
			<strong>themeable</strong>
		</li>
		<li class="last">
			<div class="bg"></div>
			<img src="{{link 'asset' 'images/features_api.png'}}" width="140" height="87" />
			<small>comprehensive</small>
			<strong>API</strong>
		</li>
		<li>
			<div class="bg"></div>
			<img src="{{link 'asset' 'images/features_persistance.png'}}" width="140" height="87" />
			<small>powerful</small>
			<strong>persistance</strong>
		</li>
		<li>
			<div class="bg"></div>
			<img src="{{link 'asset' 'images/features_browser.png'}}" width="140" height="87" />
			<small>works in</small>
			<strong>IE8+, FF and Chrome</strong>
		</li>
		<li class="last">
			<div class="bg"></div>
			<img src="{{link 'asset' 'images/features_creative_commonsr.png'}}" width="140" height="87" />
			<small>non-proprietary use</small>
			<strong>free</strong>
		</li>
	</ul>
</div>

<link rel="stylesheet" type="text/css" href="{{link 'asset' 'css/startpage.css'}}" />
<link type="text/css" rel="stylesheet" href="{{link 'asset' 'css/goldenlayout-base.css'}}" />
<link type="text/css" rel="stylesheet" href="{{link 'asset' 'css/goldenlayout-dark-theme.css'}}" />

<script type="text/javascript" src="{{link 'asset' 'js/goldenlayout.min.js'}}"></script>
<script type="text/javascript" src="{{link 'asset' 'js/highchart_min.js'}}"></script>
<script type="text/javascript" src="{{link 'asset' 'js/startpage_min.js'}}"></script>

