<div class="start-bg"></div>
<div class="startExample">
	<div id="exampleScreen">
		<div id="tryMeArrow"></div>
		<div id="exampleLayoutContainer"></div>
	</div>
</div>
<div id="startPageFeatures">
	<ul>
		<li>
			<div class="bg"></div>
			<img src="{{link 'asset' 'images/features_popouts.png'}}" width="140" height="87" />
			<small>native</small>
			<strong>popout windows</strong>
		</li>
		<li>
			<div class="bg"></div>
			<img src="{{link 'asset' 'images/features_themeable.png'}}" width="140" height="87" />
			<small>completely</small>
			<strong>themeable</strong>
		</li>
		<li class="last">
			<div class="bg"></div>
			<img src="{{link 'asset' 'images/features_api.png'}}" width="140" height="87" />
			<small>comprehensive</small>
			<strong>API</strong>
		</li>
		<li>
			<div class="bg"></div>
			<img src="{{link 'asset' 'images/features_persistance.png'}}" width="140" height="87" />
			<small>powerful</small>
			<strong>persistance</strong>
		</li>
		<li>
			<div class="bg"></div>
			<img src="{{link 'asset' 'images/features_browser.png'}}" width="140" height="87" />
			<small>works in</small>
			<strong>IE8+, FF &amp; Chrome</strong>
		</li>
		<li class="last">
			<div class="bg"></div>
			<img src="{{link 'asset' 'images/features_creative_commonsr.png'}}" width="140" height="87" />
			<small>free as in</small>
			<strong>beer, speech &amp; love</strong>
		</li>
	</ul>
</div>

<div id="getting-started">
	<a href="tutorials/getting-started.html" class="js">
		<div></div>
		<p>get started with <b>Vanilla JS</b></p>
	</a>
	<a href="tutorials/getting-started-react.html" class="center react">
		<div></div>
		<p>get started with <b>React</b></p>
	</a>
	<a href="tutorials/getting-started-angular.html" class="angular">
		<div></div>
		<p>get started with <b>Angular</b></p>
	</a>
</div>

<div id="used-by">
	<div class="center">
		<div class="col left">
			<h4>used by</h4>
			<img src="assets/images/used-by-logos.png" alt="used-by" width="600" height="337" />
		</div>
		<div class="col right">
			<h4>built with GoldenLayout</h4>
			<div class="video"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#used-by .video' ).click(function(){
		$(this).html('<iframe src="https://player.vimeo.com/video/143728632?autoplay=1&title=0&byline=0&portrait=0" width="514" height="331" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>');
	});
</script>

<link rel="stylesheet" type="text/css" href="{{link 'asset' 'css/startpage.css'}}" />
<link type="text/css" rel="stylesheet" href="{{link 'asset' 'css/goldenlayout-base.css'}}" />
<link type="text/css" rel="stylesheet" href="{{link 'asset' 'css/goldenlayout-dark-theme.css'}}" />

<script type="text/javascript" src="{{link 'asset' 'js/goldenlayout.min.js'}}"></script>
<script type="text/javascript" src="{{link 'asset' 'js/highchart_min.js'}}"></script>
<script type="text/javascript" src="{{link 'asset' 'js/startpage_min.js'}}"></script>

